@model BackendService.Services.SearchModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.SearchString)
    <input type="submit" value="Go!" />
}

<br />

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Products')">Products (@Model.ProductsCount)</button>
    <button class="tablinks" onclick="openTab(event, 'Documents')">Documents (@Model.DocumentsCount)</button>
</div>

<!-- Tab content -->
<div id="Products" class="tabcontent">
    @if (Model.Products != null && Model.Products.Any())
    {
        <table class="table">
            @foreach (BackendService.Services.ProductSearchResult item in Model.Products)
                {

                <tr>
                    <td>
                        <p>@item.ProductNumber</p>
                        <p>@item.Name</p>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No results</p>
    }

</div>
<div id="Documents" class="tabcontent">
    @if (Model.Documents != null && Model.Documents.Any())
    {
        <table class="table">
            @foreach (BackendService.Services.DocumentSearchResult item in Model.Documents)
            {
                <tr>
                    <td>
                        <p>@item.Content</p>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No results</p>
    }
</div>
